.hello {
    color: red;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid black;

}

#logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid blue;
}

#header-logo {
    height: 25vh;
    width: 25vh;
}

#nav-bar {
    display: table;

    padding-top: 0;
    border: 1px solid pink;

}

#tab-list {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin: 0rem auto 0 auto;

    justify-content: space-evenly;



    list-style-type: none;

    border: 1px solid green;
}

.page-tab {
    display: inline;
    width: 5.5rem;
    height: 2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    
    border: 1px solid purple;

}

/* .page-tab-button {
    padding: 1.5rem 2.5rem;
} */

#page-content {
    border: 2px solid orange;
    margin: auto;
    margin-bottom: 5%;
    height: 80vh;
    width: 90%;
}