:root {
    --pink: #FFBEB5;
    --green: #8AB289;
    --brown: #493037;
    --light-green: #EEFFEE;
}

body {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: var(--light-green);
}
/* index css */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--light-green);

}

#logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

   
}

#header-logo {
    height: 25vh;
    width: 25vh;
}

#nav-bar {
    display: table;

    padding-top: 0;
    

}

#tab-list {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin: 0rem auto 0 auto;

    justify-content: space-evenly;



    list-style-type: none;


}

.page-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 2rem;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    margin-bottom: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pink);

    border-top: 0.3rem solid var(--green);
    border-left: 0.3rem solid var(--green);
    border-right: 0.3rem solid var(--green);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    box-shadow: 
        inset 0 0 0 0.15rem var(--brown)
    ;
    outline: 0.15rem solid var(--brown);
    padding: 0.1rem;

}


.page-tab-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 2rem;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    /* margin-bottom: -2rem; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pink);

    border-top: 0.3rem solid var(--green);
    border-left: 0.3rem solid var(--green);
    border-right: 0.3rem solid var(--green);
    /* border-bottom: 0.5rem solid var(--pink); */
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    outline: 0.15rem solid var(--brown);
    
    padding: 0.1rem;
}

#page-content {
    border: 2px solid orange;
    margin: auto;
    width: 70%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    border: 0.3rem solid var(--green);
    border-radius: 0.4em;
    box-shadow: 
        inset 0 0 0 0.15rem var(--brown)
    ;
    outline: 0.15rem solid var(--brown);
    padding: 1rem;

    background-color: var(--pink);

   
}

/* home page */
.home-page-content {
    background-color: var(--pink);
}

#home-logo-contatiner {
    
}

.long-logo {}

#home-picture {
    object-fit: contain;
    width: 32rem;
}

#home-text-container {
    width: 30rem;
}

#hours-container {
    width: 30rem;
}

#location-container {
    width: 30rem;
}

#hours-list {}

.day-times{}


/*menu page*/
.menu-page-content {}

#menu-logo-container {}

#menu-page-logo {}

.menu-item-container {
    /* height: 70vh;
    margin: 5vh; */
    display: flex;
    flex-direction: column;
    overflow: auto;

    border: 0.3rem solid var(--green);
    border-radius: 0.4em;
    box-shadow: 
        inset 0 0 0 0.15rem var(--brown)
    ;
    outline: 0.15rem solid var(--brown);
    padding: 1rem;
    background-color: var(--pink);
    margin-bottom: 2.5rem;
}

.menu-item-title{}

.menu-item-img { 
    height: 75%;
    border-radius: 0.4rem;
    outline: 0.15rem solid var(--brown);
    /* object-fit: contain; */
}

.menu-item-description {}

.menu-item-price{
    
}


/* Contact page */
#form-content {
    display: flex;
    flex-direction: column;
    background-color: var(--pink);
}

/* global styling */


.image-container {
    
    border: 0.3rem solid var(--green);
    border-radius: 0.4em;
    box-shadow: 
        inset 0 0 0 0.15rem var(--brown)
    ;
    outline: 0.15rem solid var(--brown);

    margin: 2.5rem;
   
   
}

.text-container {
    border: 0.3rem solid var(--green);
    border-radius: 0.4em;
    box-shadow: 
        inset 0 0 0 0.15rem var(--brown)
    ;
    outline: 0.15rem solid var(--brown);
    padding: 1rem;
    background-color: var(--pink);
    margin-bottom: 2.5rem;
}

.text {}